<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row">
  <div style="padding-bottom: 15px;">
      <%= link_to  "New post", new_authors_post_path, class: 'btn btn-outline-primary' %>
  </div>
  <table class="table table-striped">
    <tr>
      <th colspan="5">Title</th> 
    </tr>
      <%= render @posts %>
  </table>
</div>
