<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
    <%= link_to  "Edit", edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
    <%= link_to  "Remove", authors_post_path(@post), method: :delete, 
    data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
    <h1><%= @post.title %></h1>
    <h6><%= @post.display_day_published %></h6>
    <%= @post.body.html_safe %>
  </div>
</div>
