$light-gray:           #f7f7f9;
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #ffffff;
$accent-color:         #CDDC39; 
$hover-brand-color:    rgb(236, 248, 61);
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
