.navbar-light .navbar-nav .show > 
.nav-link, .navbar-light .navbar-nav .active > 
.nav-link, .navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    color: $primary-color-light;
}

.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    background-color: $primary-color !important;
    .navbar-brand {
        font-weight: bolder;
        color: $accent-color;
        &:hover {
            color: $hover-brand-color;
        }
        .light {
            font-weight: 300;
            color: $primary-color-text;
            &.active {
                color: $primary-color-light;
            }
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-item {
        .nav-link {
            &.author-nav {
                img {
                    height: 30px !important;
                    width: 30px !important;
                    border-radius: 50% !important;
                    border: 1px solid $primary-color-light;
                    transform: translate(0px, -3px);
                }
            }
            color: $primary-color-text;
            &.active {
                color: $primary-color-light;
            }
            &:hover {
                color: $primary-color-light;
            }
        }
    }
}
.logo-img {
    width:30px;
    height:30px;
}
