<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("boy.png", :alt => "logo", :class=>"d-inline-block align-top logo-img") %> 
      My<span class="light <%= yield(:blog_active) %>">blog</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to  "Blog", root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to  "About", about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
            <%= link_to  "Contact", contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if author_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle author-nav <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag(current_author.gravatar_image_url) %>
              <%= current_author.display_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to  'My posts', authors_posts_path, class: "dropdown-item" %>
              <%= link_to  'Account', authors_account_path, class: "dropdown-item" %>
              <%= link_to  'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
