<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:page_title) %> | MyBlog</title>
    <%= favicon_link_tag asset_path('boy.png'), :rel => 'icon', :type =>  'image/png' %>    
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Montserrat:300,400,700" rel="stylesheet">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    
  </head>

  <body>
    <%= render  "layouts/navbar" %>
    <div class="container <%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
